server {
  listen 80;

  server_name {{ domain }};

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    include proxy_params;
    proxy_pass http://localhost:3000;
  }
}

uwsgi_cache_path /tmp/nginx levels=1:2 keys_zone=redado:10m;

server {
  listen 80;

  server_name {{ api_domain }};

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    try_files $uri @redado-api;
  }

  location @redado-api {
    add_header Access-Control-Allow-Origin *;
    include uwsgi_params;
    uwsgi_cache_key $scheme$proxy_host$request_uri;
    uwsgi_cache redado;
    uwsgi_pass unix:/tmp/redado-api.sock;
  }
}
