[Unit]
Description=Redado API Server

[Service]
{% if vagrant is defined %}
Environment=DEBUG=true
{% endif %}
WorkingDirectory=/srv/server/api/
SyslogIdentifier=redado-api
ExecStart=/usr/bin/python2 run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
