[Unit]
Description=Redado Worker {{ item.name }}

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/srv/server/workers/
SyslogIdentifier=redado-workers-{{ item.name }}
ExecStart=/usr/bin/node {{ item.name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
