server {
  listen 127.0.0.1:5000;

  server_name {{ api_domain }};

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    try_files $uri @redado-api;
  }

  location @redado-api {
    add_header Access-Control-Allow-Origin * always;
    include uwsgi_params;
    uwsgi_pass unix:/tmp/redado-api.sock;
  }
}
