[Unit]
Description=Redado Worker {{ item.path | basename }}

[Service]
Environment=NODE_ENV=production
Environment=API_KEY={{ api_key }}
Environment=NB_API_KEY_1={{ nb_api_key_1 }}
Environment=NB_API_KEY_2={{ nb_api_key_2 }}
Environment=NB_API_KEY_3={{ nb_api_key_3 }}
Environment=NB_SLUG={{ nb_slug }}
Environment=MAILTRAIN_KEY={{ mailtrain_key }}
Environment=WEBHOOK_NB_KEY={{ webhook_nb_key }}
Environment=WEBHOOK_SPARKPOST_KEY={{ webhook_sparkpost_key }}
{% if disable_mailtrain is defined %}
Environment=DISABLE_MAILTRAIN={{ disable_mailtrain }}
{% endif %}
WorkingDirectory=/srv/workers/
StandardOutput=syslog
SyslogIdentifier=redado-worker-{{ item.path | basename }}
ExecStart=/usr/bin/nodejs {{ item.path | basename }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
