[server]
your.server.ip.address

[server:vars]
ansible_user=root
api_domain=api.domain.com
api_key=nimportequoi
nb_api_key_1=
nb_api_key_2=
nb_api_key_3=
nb_slug=
mailtrain_key=
letsencrypt=enabled
letsencrypt_email=your@email.com
