server {
  listen 80;

  server_name {{ domain }};

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    include proxy_params;
    proxy_pass http://localhost:3000;
  }
}

server {
  listen 80;

  server_name {{ api_domain }};

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    add_header Access-Control-Allow-Origin *;
    include proxy_params;
    proxy_pass http://localhost:5000;
  }
}
