server {
  listen 80;

  server_name {{ api_domain }};

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    return 301 https://$server_name$request_uri;
  }
}

uwsgi_cache_path /tmp/nginx levels=1:2 keys_zone=redado:10m;

server {
  listen 443 ssl;

  server_name {{ api_domain }};

  ssl_certificate     /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

  location ~ /.well-known {
    root /var/www/letsencrypt/;
    try_files $uri =404;
    allow all;
  }

  location / {
    try_files $uri @redado-api;
  }

  location @redado-api {
    add_header Access-Control-Allow-Origin *;
    include uwsgi_params;
    uwsgi_cache_key $scheme$proxy_host$request_uri;
    uwsgi_cache_use_stale error timeout updating http_500 http_503;
    uwsgi_cache redado;
    uwsgi_pass unix:/tmp/redado-api.sock;
  }
}
