[Unit]
Description=Redado API Server

[Service]
{% if vagrant is defined %}
Environment=DEBUG=true
{% endif %}
WorkingDirectory=/srv/server/api/
StandardOutput=syslog
SyslogIdentifier=redado-api
ExecStart=/usr/bin/uwsgi -s /tmp/redado-api.sock --manage-script-name --plugin python --mount /=run:app
Restart=always
RestartSec=10
User=www-data

[Install]
WantedBy=multi-user.target
